<div class="h-100 pb-5">
    <app-hero></app-hero>
    <div class="my-4">
        <app-topbar [pathObject]="topBObj"></app-topbar>
    </div>
    <div class="container-fluid px-3 d-flex flex-column">
        <h2 class="mb-4">Scrivi nuovo Thread</h2>
        <p class="m-0">Titolo</p>
        <div id="thread-info" class="input-group mt-1 mb-5">
            <input #titleInput [(ngModel)]="threadTitle" name="ttitlee" type="text"
                class="form-control shadow-none rounded-2 rounded-end-0 border-0 px-1" placeholder="Scrivi..">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn custom-btn rounded-start-0" id="dropdownType" ngbDropdownToggle
                    [innerText]="typeString"></button>
                <div ngbDropdownMenu aria-labelledby="dropdownType">
                    <button #generalBtn ngbDropdownItem class="txt-orange"
                        (click)="switchType('General')">General</button>
                    <button #newsBtn ngbDropdownItem (click)="switchType('News')">News</button>
                    <button #guideBtn ngbDropdownItem (click)="switchType('Guide')">Guide</button>
                    <button #questionBtn ngbDropdownItem (click)="switchType('Question')">Question</button>
                </div>
            </div>
        </div>
        <app-editor-form class="w-100 flex-grow-1" [type]="'thread'" (submitPost)="postThread($event)"
            [postTitle]="threadTitle"></app-editor-form>
    </div>
</div>