<div class="h-100 pb-5">
    <app-hero></app-hero>
    <h4 *ngIf="!isWaitingPage && !isLoadingPage && errorsMsgs.length" class="mt-4 mb-0 text-center">Errori nel
        caricamento della pagina... Per favore riprova!</h4>
    <div *ngIf="!isWaitingPage && !isLoadingPage && errorsMsgs.length == 0" class="my-4">
        <app-topbar [pathObject]="topBObj"></app-topbar>
    </div>
    <div *ngIf="!isWaitingPage && !isLoadingPage && errorsMsgs.length == 0"
        class="container-fluid px-3 d-flex flex-column">
        <h2 class="mb-4" [innerText]="editPostId == 0 ? 'Scrivi nuovo Thread' : 'Modifica il Thread'"></h2>
        <p class="m-0">Titolo</p>
        <div id="thread-info" class="input-group mt-1 mb-5">
            <input #titleInput [(ngModel)]="threadTitle" name="ttitlee" type="text"
                class="form-control shadow-none rounded-2 rounded-end-0 border-0 px-1" placeholder="Scrivi..">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn custom-btn rounded-start-0" id="dropdownType" ngbDropdownToggle
                    [innerText]="typeString"></button>
                <div ngbDropdownMenu aria-labelledby="dropdownType">
                    <button #generalBtn ngbDropdownItem class="txt-orange"
                        (click)="switchType('General')">General</button>
                    <button #newsBtn ngbDropdownItem (click)="switchType('News')">News</button>
                    <button #guideBtn ngbDropdownItem (click)="switchType('Guide')">Guide</button>
                    <button #questionBtn ngbDropdownItem (click)="switchType('Question')">Question</button>
                </div>
            </div>
        </div>
        <app-editor-form class="d-block shadow align-self-center" [type]="'post'" (submitPost)="postThread($event)"
            [postTitle]="threadTitle"
            [postBody]="editPostInitBody != '' ? editPostInitBody : undefined"></app-editor-form>
    </div>
    <div *ngIf="resError != ''" class="mt-4">
        <p class="mb-1 fs-5">Errore inatteso: {{ resError }}</p>
    </div>
</div>