<div *ngIf="isLoadingPage" class="h-100 d-flex justify-content-center align-items-center">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoadingPage" class="py-4 h-100">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="form-container p-5 pt-4 rounded-2">
            <p *ngIf="invalidTokenReason" class="mb-1 text-center">Sessione scaduta, per favore rieffettua l'accesso</p>
            <p class="mb-2 text-center fw-medium fs-4 txt-orange">Entra su Cybermodding</p>
            <p class="mb-4 text-center">Non hai un account? <a [routerLink]="'/auth/register'"
                    class="text-decoration-none txt-orange">Registrati</a> ora per poter accedere!</p>
            <form #f="ngForm">
                <div class="d-flex justify-content-between mb-1">
                    <label for="username">Username</label>
                    <p class="m-0 text-danger d-none" #usernameP>Invalid</p>
                </div>
                <input #usernameInput="ngModel" [(ngModel)]="loginData.username" id="username" type="text"
                    name="username" class="mb-3 form-control form-control-sm border-0 shadow-none"
                    placeholder="Il tuo username" [minlength]="3" required>

                <div class="d-flex justify-content-between mb-1">
                    <label for="password">Password</label>
                    <p class="m-0 text-danger d-none" #passwordP>Inesatta</p>
                </div>
                <input #passwordInput="ngModel" [(ngModel)]="loginData.password" id="password" type="password"
                    name="password" class="mb-3 form-control form-control-sm border-0 shadow-none" [minlength]="8"
                    required>

                <div class="d-flex flex-column align-items-center">
                    <button [disabled]="f.invalid" type="button" [ngClass]="{'txt-orange' : true}"
                        class="btn btn-dark w-50 mt-3 fw-medium py-2" (click)="doLogin()">Login</button>
                    <div class="mt-2">
                        <app-inline-loader *ngIf="isLoggingIn"></app-inline-loader>
                        <p *ngIf="!isLoggingIn && isLoginOperationSuccess" class="m-0 fw-medium">Autenticato con
                            successo! Attendi 2 secondi..</p>
                        <p *ngIf="!isLoggingIn && isLoginOperationError" class="m-0 fw-medium"><span
                                class="text-danger">Errore: </span>{{ errorMessage }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>