@import "mixins";

@include text-orange;
@include text-mod;
@include profile-img(64px);

.txt-ban {
  color: var(--text-muted);
  text-decoration: line-through;
}

.selectable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
