@import "mixins";

@include pageable-mixin;
@include text-orange;
@include text-mod;
@include truncate;

.main-container {
  background-color: var(--bg-lighter);
  height: 80vh;

  .selection-container {
    .sect-btn {
      background-color: var(--bg);
      color: var(--txt);
      border: none;

      &:first-child {
        cursor: default;
      }

      .icon-cont {
        background-color: var(--bg-tert);
        cursor: pointer;
      }
    }

    .collapse-comp {
      background-color: var(--bg);
      border-top: 1px solid var(--near-black);

      .selection {
        transition: color 0.2s;
        cursor: pointer;
        &:hover {
          color: var(--txt-muted);
        }
      }
    }
  }

  .comps-container {
    background-color: var(--bg-lighter);
    min-height: 100%;
  }
}
