<div *ngIf="isLoadingPage" class="h-100 d-flex justify-content-center align-items-center">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoadingPage" class="h-100 pb-5">
    <app-hero></app-hero>
    <div class="chat-container container-fluid d-flex justify-content-center mt-4">
        <app-chatbox class="w-100" [userLogged]="isUserLogged"
            [userLevel]="userlevel == 0 ? 'BASE' : userlevel == 1 ? 'MID' : 'BOSS'" [userName]="username"
            [userId]="user_id"></app-chatbox>
    </div>
    <div class="mt-5 mb-3">
        <app-topbar [path]="'FORUM HOME /'"></app-topbar>
    </div>
    <div *ngFor="let s of sectionsArr" class="sections-container container-fluid d-flex justify-content-center mt-3">
        <app-section-head class="w-100 my-3" [sectionName]="s.title" [sectionDescr]="s.description"
            [sectionId]="s.id!"></app-section-head>
    </div>
</div>