.head-w-title {
  background-color: var(--bg-lighter);
  border-top: 1px solid var(--near-black);
  border-bottom: 1px solid var(--near-black);
}

.col-12:not(.col-12:first-of-type) {
  border: 2px solid var(--bg-lighter);
}

.col-12:first-of-type {
  background-color: var(--bg-lighter);
  font-size: 1.2em;
}

.placeholder-img {
  width: 32px;
  height: 32px;
  background-color: var(--near-black);
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.small-f {
  font-size: 0.9em;
}

.selectable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

h6.selectable:hover {
  color: var(--orange-hover);
}

.txt-orange {
  color: var(--orange);
}

.txt-mod {
  color: var(--mod-color);
}

.txt-ban {
  color: var(--text-muted);
  text-decoration: line-through;
}

.par-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  cursor: pointer;
  text-decoration: underline;
  color: var(--orange);
  transition: color 0.1s;

  &:hover {
    color: var(--orange-hover);
  }
}
