<div class="h-100 pb-5">
    <app-hero></app-hero>
    <div *ngIf="!isLoadingPage && !isWaitingPage && !granted"
        class="container-fluid d-flex flex-column align-items-center mt-5">
        <h2>Non sei autorizzato..</h2>
        <h2>Ti rispedisco alla Home..</h2>
    </div>
    <div *ngIf="!isLoadingPage && !isWaitingPage && granted" class="container-fluid mt-4">
        <h1 class="mb-2 text-danger">{{ username }}</h1>
        <h3 class="mb-4">Pannello Admin</h3>

        <div class="d-flex main-container py-2">
            <div class="selection-container">
                <div class="d-flex align-items-center sect-btn rounded-1">
                    <div class="flex-grow-1 px-3 py-1">Messaggi</div>
                    <div class="px-2 icon-cont py-1"
                        (click)="isMessagesCollapsed.collapsed = !isMessagesCollapsed.collapsed">
                        <i *ngIf="isMessagesCollapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isMessagesCollapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isMessagesCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="mb-1 selection" [ngClass]="{'txt-orange' : isMessagesCollapsed.subs['isMsgOpenView']}"
                        (click)="setNewView(isMessagesCollapsed, 'isMsgOpenView')">Messaggi aperti > {{
                        openContactMessagesArr.length }}</div>
                    <div class="selection" [ngClass]="{'txt-orange' : isMessagesCollapsed.subs['isMsgClosedView']}"
                        (click)="setNewView(isMessagesCollapsed, 'isMsgClosedView')">Messaggi archiviati > {{
                        closedContactMessagesArr.length }}</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Impostazioni Utenti</div>
                    <div class="px-2 icon-cont py-1" (click)="isUsersCollapsed.collapsed = !isUsersCollapsed.collapsed">
                        <i *ngIf="isUsersCollapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isUsersCollapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isUsersCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="mb-1 selection" [ngClass]="{'txt-orange' : isUsersCollapsed.subs['isSearchUsersView']}"
                        (click)="setNewView(isUsersCollapsed, 'isSearchUsersView')">Ricerca utente</div>
                    <div class="selection" [ngClass]="{'txt-orange' : isUsersCollapsed.subs['isUsersStatsView']}"
                        (click)="setNewView(isUsersCollapsed, 'isUsersStatsView')">Statistiche</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Quick Ban</div>
                    <div class="px-2 icon-cont py-1"
                        (click)="isQuickBanCollapsed.collapsed = !isQuickBanCollapsed.collapsed">
                        <i *ngIf="isQuickBanCollapsed.collapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isQuickBanCollapsed.collapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isQuickBanCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="selection" [ngClass]="{'txt-orange' : isQuickBanCollapsed.subs['isQuickBanSearchView']}"
                        (click)="setNewView(isQuickBanCollapsed, 'isQuickBanSearchView')">Ricerca utente</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Modera Thread</div>
                    <div class="px-2 icon-cont py-1"
                        (click)="isThreadsModCollapsed.collapsed = !isThreadsModCollapsed.collapsed">
                        <i *ngIf="isThreadsModCollapsed.collapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isThreadsModCollapsed.collapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isThreadsModCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="selection" [ngClass]="{'txt-orange' : isThreadsModCollapsed.subs['isThreadSearchView']}"
                        (click)="setNewView(isThreadsModCollapsed, 'isThreadSearchView')">Ricerca Thread</div>
                    <div class="selection" [ngClass]="{'txt-orange' : isThreadsModCollapsed.subs['isThreadAllView']}"
                        (click)="setNewView(isThreadsModCollapsed, 'isThreadAllView')">Tutti i Thread</div>
                    <div class="selection" [ngClass]="{'txt-orange' : isThreadsModCollapsed.subs['isThreadStatsView']}"
                        (click)="setNewView(isThreadsModCollapsed, 'isThreadStatsView')">Statistiche</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Modera Sezioni</div>
                    <div class="px-2 icon-cont py-1"
                        (click)="isSectionsModCollapsed.collapsed = !isSectionsModCollapsed.collapsed">
                        <i *ngIf="isSectionsModCollapsed.collapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isSectionsModCollapsed.collapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isSectionsModCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="selection"
                        [ngClass]="{'txt-orange' : isSectionsModCollapsed.subs['isSectionCreateView']}"
                        (click)="setNewView(isSectionsModCollapsed, 'isSectionCreateView')">Crea nuova Sezione</div>
                    <div class="selection"
                        [ngClass]="{'txt-orange' : isSectionsModCollapsed.subs['isSubSectionCreateView']}"
                        (click)="setNewView(isSectionsModCollapsed, 'isSubSectionCreateView')">Crea nuova Sub-Sezione
                    </div>
                    <div class="selection" [ngClass]="{'txt-orange' : isSectionsModCollapsed.subs['isSectionAllView']}"
                        (click)="setNewView(isSectionsModCollapsed, 'isSectionAllView')">Tutte le Sezioni</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Modera Blocchi</div>
                    <div class="px-2 icon-cont py-1"
                        (click)="isBlocksCollapsed.collapsed = !isBlocksCollapsed.collapsed">
                        <i *ngIf="isBlocksCollapsed.collapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isBlocksCollapsed.collapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isBlocksCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="selection" [ngClass]="{'txt-orange' : isBlocksCollapsed.subs['isBlockCreateView']}"
                        (click)="setNewView(isBlocksCollapsed, 'isBlockCreateView')">Crea nuovo Blocco</div>
                    <div class="selection" [ngClass]="{'txt-orange' : isBlocksCollapsed.subs['isBlockAllView']}"
                        (click)="setNewView(isBlocksCollapsed, 'isBlockAllView')">Tutti i blocchi</div>
                </div>

                <div class="d-flex align-items-center sect-btn rounded-1 mt-2">
                    <div class="flex-grow-1 ps-3 pe-3 py-1">Informazioni</div>
                    <div class="px-2 icon-cont py-1" (click)="isInfosCollapsed.collapsed = !isInfosCollapsed.collapsed">
                        <i *ngIf="isInfosCollapsed.collapsed" class="bi bi-arrow-down-short"></i>
                        <i *ngIf="!isInfosCollapsed.collapsed" class="bi bi-arrow-up-short"></i>
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isInfosCollapsed.collapsed"
                    class="collapse-comp pt-1 pb-2 ps-3">
                    <div class="selection" [ngClass]="{'txt-orange' : isInfosCollapsed.subs['isInfoSysView']}"
                        (click)="setNewView(isInfosCollapsed, 'isInfoSysView')">Sistema</div>
                </div>
            </div>

            <div class="comps-container flex-grow-1 mx-3 px-3 py-1 shadow">
                <p *ngIf="isErrorMessagePanel" class="mt-4 fw-medium fs-4 text-center">{{ errorPanelMsg }}</p>
                <div *ngIf="!isErrorMessagePanel" class="h-100">
                    <app-contactmsgs *ngIf="getAnySubViewOpen(isMessagesCollapsed)" class="d-block h-100"
                        [messages]="isMessagesCollapsed.subs['isMsgOpenView'] ? openContactMessagesArr : closedContactMessagesArr"
                        [error]="contactMessagesErrorString" (onArchive)="archiveMessage($event)"
                        (onReOpen)="reOpenMessage($event)"></app-contactmsgs>
                    <app-users *ngIf="getAnySubViewOpen(isUsersCollapsed)" class="d-block h-100"
                        [isStatsView]="isUsersCollapsed.subs['isUsersStatsView']" [user_id]="user_id"></app-users>
                    <app-ban *ngIf="getAnySubViewOpen(isQuickBanCollapsed)" class="d-block h-100"
                        [user_id]="user_id"></app-ban>
                    <app-threads *ngIf="getAnySubViewOpen(isThreadsModCollapsed)" [user_id]="user_id"
                        class="d-block h-100" [isSearchThreadView]="isThreadsModCollapsed.subs['isThreadSearchView']"
                        [isAllThreadView]="isThreadsModCollapsed.subs['isThreadAllView']"
                        [isStatsThreadView]="isThreadsModCollapsed.subs['isThreadStatsView']"></app-threads>
                    <app-sections *ngIf="getAnySubViewOpen(isSectionsModCollapsed)" class="d-block h-100"
                        [isCreateSectionView]="isSectionsModCollapsed.subs['isSectionCreateView']"
                        [isCreateSubSectionView]="isSectionsModCollapsed.subs['isSubSectionCreateView']"
                        [isAllView]="isSectionsModCollapsed.subs['isSectionAllView']"
                        [user_id]="user_id"></app-sections>
                    <app-blocks *ngIf="getAnySubViewOpen(isBlocksCollapsed)" class="d-block h-100"
                        [isAllView]="isBlocksCollapsed.subs['isBlockAllView']"
                        [isCreateView]="isBlocksCollapsed.subs['isBlockCreateView']" [user_id]="user_id"></app-blocks>
                    <app-infos *ngIf="getAnySubViewOpen(isInfosCollapsed)" class="d-block h-100"></app-infos>
                </div>
            </div>
        </div>
    </div>