.pageable-container {
  border-top: 1px solid var(--orange-hover);
  border-bottom: 1px solid var(--orange-hover);

  i {
    font-size: 1.2rem;
  }

  .previous,
  .next {
    transition: all 0.2s;
    cursor: pointer;
    width: max-content;
    p,
    i {
      cursor: pointer;
    }
    background-color: var(--bg-lighter);
    border: 2px solid var(--near-black);
    &:hover {
      background-color: var(--near-black);
      i,
      p {
        color: var(--orange-hover);
      }
    }
  }

  .pages {
    .btn-page {
      border: 2px solid var(--near-black);
      background-color: var(--bg-lighter);
      font-size: 1.1rem;
      cursor: pointer;
      p {
        cursor: pointer;
      }
      &:hover {
        background-color: var(--near-black);
        p {
          color: var(--orange-hover);
        }
      }
    }

    .actual-page {
      background-color: var(--near-black);
      p {
        color: var(--orange-hover);
      }
    }
  }
}

.main-container {
  background-color: var(--bg-lighter);

  .moderation-body {
    input {
      background-color: var(--bg);
      color: var(--txt);
    }

    .single-result {
      background-color: var(--bg);

      .su-head {
        border-bottom: 1px solid var(--near-black);
      }

      .options-container {
        background-color: var(--bg-lighter);
        border: 1px solid var(--near-black);
        border-top: 0;
      }

      i {
        cursor: pointer;
        color: var(--orange-hover);
        font-size: 1.2rem;
      }
    }

    select {
      background-color: var(--bg);
      color: var(--txt);

      option {
        background-color: var(--bg-lighter);
        color: var(--txt);
      }
    }

    select[name="criteria"] {
      width: max-content;
    }

    input.form-check-input {
      border-color: var(--orange) !important;
    }
  }

  ::placeholder {
    color: var(--txt-muted);
  }
}

.head-container {
  background-color: var(--bg-lighter);
  border-bottom: 2px solid var(--near-black);
}

.moderation-btn {
  background-color: var(--bg);
  color: var(--txt);
  transition: 0.2s;

  &:hover,
  &:active {
    background-color: var(--near-black);
  }
}

.btn-selected {
  color: var(--orange-hover);
  background-color: var(--near-black);
}

.disabled {
  pointer-events: none;
}

.thread-view {
  border-bottom: 2px solid var(--near-black);
}

.title-trunc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.text-mod {
  color: var(--mod-color);
}
