@import "mixins";

@include pageable-mixin;
@include text-orange;
@include text-mod;
@include truncate;

.main-container {
  background-color: var(--bg-lighter);
  height: 80vh;
  @include secondary-scrollbar;

  .selection-container {
    .sect-btn {
      background-color: var(--bg);
      color: var(--txt);
      border: none;

      &:first-child {
        cursor: default;
      }

      .icon-cont {
        background-color: var(--bg-tert);
        cursor: pointer;
      }

      &.mob-sect {
        border-bottom: 1px solid var(--near-black);
      }

      .txt-orange-op {
        color: var(--orange-hover-op);
      }
    }

    .collapse-comp {
      background-color: var(--bg);
      border-top: 1px solid var(--near-black);

      .selection {
        transition: color 0.2s;
        cursor: pointer;
        &:hover {
          color: var(--txt-muted);
        }
      }
    }
  }

  .comps-container {
    background-color: var(--bg-lighter);
    min-height: 100%;
  }

  .mobile-comps-container {
    background-color: var(--bg-lighter);
    border-top: 2px solid var(--near-black);
  }
}

.coll-cont {
  background-color: var(--bg);
  border-bottom: 2px solid var(--near-black);
}
