.outer-container {
  background-color: var(--bg-lighter);
  border: 1px solid var(--near-black);
}

ngx-editor {
  width: 97.5%;
}

.min-h-50 {
  min-height: 50vh;
}

.min-h-90 {
  min-height: 90vh;
}
