<div *ngIf="isLoadingPage || isWaitingPage" class="h-100 d-flex justify-content-center align-items-center">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoadingPage && !isWaitingPage" class="h-100 pb-5">
    <app-hero></app-hero>
    <div class="mt-4">
        <app-topbar [pathObject]="topBObj"></app-topbar>
    </div>
    <div class="container-fluid mt-5 d-flex flex-column align-items-center">
        <div class="row w-100 mb-4 rounded-1">
            <div class="col-3 py-3 px-2">
                <app-thread-user-details [postData]="postData" [commentData]="null"
                    class="d-flex flex-column align-items-center"></app-thread-user-details>
            </div>
            <div class="col-9 d-flex flex-column pt-2 px-0">
                <div class="flex-grow-1 px-2 pb-5">
                    <p class="m-0 fw-medium fs-4">{{ postData.title }}</p>
                    <p class="m-0 mt-3" [innerHTML]="postData.body"></p>
                </div>
                <div class="subpost-container p-2 d-flex justify-content-between align-items-center mt-5">
                    <div class="d-flex">
                        <div #likeField class="single-react-container py-1 px-3 rounded-4" (click)="addReaction(0)"
                            [ngClass]="{'reaction-sel' : hasUserLike}">
                            <span class="me-2" [innerHTML]="thumbUp"></span><span>{{ likeCount }}</span>
                        </div>
                        <div #thanksField class="single-react-container py-1 px-3 rounded-4 mx-2"
                            (click)="addReaction(1)" [ngClass]="{'reaction-sel' : hasUserThanks}">
                            <span class="text-danger me-2" [innerHTML]="heart"></span><span>{{ thanksCount
                                }}</span>
                        </div>
                        <div #dislikeField class="single-react-container py-1 px-3 rounded-4" (click)="addReaction(2)"
                            [ngClass]="{'reaction-sel' : hasUserDislike}">
                            <span class="me-2" [innerHTML]="thumbDown"></span><span>{{ dislikeCount }}</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <app-btn-reply [text]="'Rispondi citando'" (emitter)="goToReply()"></app-btn-reply>
                    </div>
                </div>
            </div>
        </div>
        <app-comment *ngFor="let comment of postData.comments.content; let i = index" [commentData]="comment"
            [commentIndex]="getCommentNumber(i + 1)" class="row w-100 mt-2 rounded-1"
            (onReply)="goToReply($event)"></app-comment>
        <div class="row w-100 pageable-container py-2 px-3 my-5 d-flex align-items-center">
            <div *ngIf="!postData.comments.content.length" class="d-flex justify-content-center">
                <p class="m-0">Nessun Commento.. Sii il primo a rispondere!</p>
            </div>
            <div class="col-3">
                <div class="previous rounded-1 px-2 d-flex" *ngIf="!postData.comments.first"
                    (click)="doCall(postData.comments.number - 1, true)">
                    <i class="bi bi-arrow-bar-left"></i>
                    <p class="m-0 ms-2">Indietro</p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="pages d-flex rounded-1">
                    <div *ngFor="let p of pagesArr; let first = first;"
                        [ngClass]="{'ms-3' : !first, 'actual-page' : p - 1 == postData.comments.number}"
                        class="btn-page px-2" (click)="doCall(p - 1, true)">
                        <p class="m-0">{{ p }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="next rounded-1 px-2 d-flex" *ngIf="!postData.comments.last"
                    (click)="doCall(postData.comments.number + 1, true)">
                    <p class="m-0 me-2">Avanti</p>
                    <i class="bi bi-arrow-bar-right"></i>
                </div>
            </div>
        </div>
        <div #editorForm></div>
        <app-editor-form class="w-100 " [type]="'comment'" [postID]="postData.id!" [userID]="userID!"
            (submitData)="onNewComment($event)" [quoted]="quotedMessage ? quotedMessage : undefined"></app-editor-form>
    </div>
</div>