.row {
  border-top: 2px solid var(--near-black);
  border-bottom: 2px solid var(--near-black);

  .col-3 {
    border-right: 1px solid var(--near-black);
    background-color: var(--bg-lighter);
  }

  .subpost-container {
    background-color: var(--bg-lighter);

    .single-react-container {
      background-color: var(--bg);
      &:hover {
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
        box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
        span {
          cursor: pointer;
        }
      }
    }
  }
}

.row:first-child {
  -webkit-box-shadow: 0px 0px 9px 1px var(--orange-hover-op);
  box-shadow: 0px 0px 9px 1px var(--orange-hover-op);
}

.reaction-sel {
  -webkit-box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
  box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--orange-hover);
}

.pageable-container {
  border-top: 1px solid var(--orange-hover);
  border-bottom: 1px solid var(--orange-hover);

  i {
    font-size: 1.2rem;
  }

  .previous,
  .next {
    transition: all 0.2s;
    cursor: pointer;
    width: max-content;
    p,
    i {
      cursor: pointer;
    }
    background-color: var(--bg-lighter);
    border: 2px solid var(--near-black);
    &:hover {
      background-color: var(--near-black);
      i,
      p {
        color: var(--orange-hover);
      }
    }
  }

  .pages {
    .btn-page {
      border: 2px solid var(--near-black);
      background-color: var(--bg-lighter);
      font-size: 1.1rem;
      cursor: pointer;
      p {
        cursor: pointer;
      }
      &:hover {
        background-color: var(--near-black);
        p {
          color: var(--orange-hover);
        }
      }
    }

    .actual-page {
      background-color: var(--near-black);
      p {
        color: var(--orange-hover);
      }
    }
  }
}
