.row {
  border-top: 2px solid var(--near-black);
  border-bottom: 2px solid var(--near-black);

  .col-3 {
    border-right: 1px solid var(--near-black);
    background-color: var(--bg-lighter);
  }

  .subpost-container {
    background-color: var(--bg-lighter);

    .single-react-container {
      background-color: var(--bg);
      &:hover {
        cursor: pointer;
        -webkit-box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
        box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
        span {
          cursor: pointer;
        }
      }
    }
  }
}

.row:first-child {
  -webkit-box-shadow: 0px 0px 9px 1px var(--orange-hover-op);
  box-shadow: 0px 0px 9px 1px var(--orange-hover-op);
}

.reaction-sel {
  -webkit-box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
  box-shadow: inset 0px 0px 7px 2px var(--orange-hover-op);
}
