<div *ngIf="isLoadingPage || isWaitingPage" class="h-100 d-flex justify-content-center align-items-center">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoadingPage && !isWaitingPage && errorsMsgs.length" class="h-100 pb-5">
    <app-hero></app-hero>
    <h4 class="mt-4 mb-0 text-center">Errori nel caricamento della pagina... Per favore riprova!</h4>
</div>

<div *ngIf="!isLoadingPage && !isWaitingPage && errorsMsgs.length == 0" class="h-100 pb-5">
    <app-hero></app-hero>
    <div class="mt-4">
        <app-topbar [pathObject]="topBObj"></app-topbar>
    </div>
    <div class="container-fluid mt-5 d-flex flex-column align-items-center">
        <div class="row w-100 mb-5 rounded-1 flex-column flex-md-row">
            <div class="col-12 col-lg-3 side-user-info col-xxl-2 py-3 px-2">
                <app-thread-user-details [postData]="postData" [commentData]="null"
                    class="d-flex flex-column align-items-center"></app-thread-user-details>
            </div>
            <div class="col-12 col-lg-9 col-xxl-10 d-flex flex-column pt-2 px-0">
                <div class="flex-grow-1 px-2 pb-4">
                    <p class="m-0 fw-medium fs-4">{{ postData.title }}</p>
                    <div class="m-0 mt-3 post-content" [innerHTML]="postData.body"></div>
                    <div *ngIf="canDelete()" class="d-flex justify-content-center mt-4">
                        <button class="custom-btn del-btn px-5 fw-medium rounded-4" (click)="deletePost()">Elimina
                            Post</button>
                    </div>
                </div>
                <div
                    class="subpost-container p-2 d-flex flex-column flex-md-row align-items-center justify-content-md-between mt-2">
                    <div class="d-flex mb-3 mb-md-0">
                        <div #likeField class="single-react-container py-1 px-3 rounded-4" (click)="addReaction(0)"
                            [ngClass]="{'reaction-sel' : hasUserLike}">
                            <span class="me-2" [innerHTML]="thumbUp"></span><span>{{ likeCount }}</span>
                        </div>
                        <div #thanksField class="single-react-container py-1 px-3 rounded-4 mx-2"
                            (click)="addReaction(1)" [ngClass]="{'reaction-sel' : hasUserThanks}">
                            <span class="text-danger me-2" [innerHTML]="heart"></span><span>{{ thanksCount
                                }}</span>
                        </div>
                        <div #dislikeField class="single-react-container py-1 px-3 rounded-4" (click)="addReaction(2)"
                            [ngClass]="{'reaction-sel' : hasUserDislike}">
                            <span class="me-2" [innerHTML]="thumbDown"></span><span>{{ dislikeCount }}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-center">
                        <button *ngIf="canEdit || userID == postData.author.id"
                            class="mb-2 mb-sm-0 custom-btn mod-btn px-4 fw-medium rounded-4 me-sm-3"
                            (click)="goToEdit()">Modifica
                            Post</button>
                        <app-btn-reply [text]="'Rispondi citando'" (emitter)="goToReply()"></app-btn-reply>
                    </div>
                </div>
            </div>
        </div>
        <app-comment *ngFor="let comment of postData.comments.content; let i = index" [commentData]="comment"
            [commentIndex]="getCommentNumber(i + 1)" class="row w-100 mt-3 rounded-1" (onReply)="goToReply($event)"
            (onDelete)="deleteComment($event)" [canDelete]="comment.user.id == userID"></app-comment>
        <div class="row w-100 pageable-container py-2 px-3 my-5 d-flex align-items-center">
            <div *ngIf="!postData.comments.content.length && postData.comments.number == 0"
                class="d-flex justify-content-center">
                <p class="m-0">Nessun Commento.. Sii il primo a rispondere!</p>
            </div>
            <div class="col-3">
                <div class="previous rounded-1 px-2 d-flex" *ngIf="!postData.comments.first"
                    (click)="doCall(postData.comments.number - 1, true)">
                    <i class="bi bi-arrow-bar-left"></i>
                    <p class="m-0 ms-2">Indietro</p>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="pages d-flex rounded-1">
                    <div *ngFor="let p of pagesArr; let first = first;"
                        [ngClass]="{'ms-3' : !first, 'actual-page' : p - 1 == postData.comments.number}"
                        class="btn-page px-2" (click)="doCall(p - 1, true)">
                        <p class="m-0">{{ p }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="next rounded-1 px-2 d-flex" *ngIf="!postData.comments.last"
                    (click)="doCall(postData.comments.number + 1, true)">
                    <p class="m-0 me-2">Avanti</p>
                    <i class="bi bi-arrow-bar-right"></i>
                </div>
            </div>
        </div>
        <div #editorForm></div>
        <app-editor-form class="w-100 " [type]="'comment'" [postID]="postData.id!" [userID]="userID!"
            (submitData)="onNewComment($event)" [quoted]="quotedMessage ? quotedMessage : undefined"></app-editor-form>
    </div>
</div>