.col-lg-3 {
  border-right: 1px solid var(--near-black);
  background-color: var(--bg-lighter);
}

.subcomment-container {
  background-color: var(--bg-lighter);
}

.comm-info {
  border-bottom: 1px solid var(--near-black);
}
