<div class="col-12 col-lg-3 col-xxl-2 py-3 px-2">
    <app-thread-user-details [postData]="null" [commentData]="commentData"
        class="d-flex flex-column align-items-center"></app-thread-user-details>
</div>
<div class="col-12 col-lg-9 col-xxl-10 d-flex flex-column pt-3 px-0 mb-3 mb-lg-0">
    <div class="d-flex justify-content-between pb-2 px-2 comm-info">
        <p class="m-0">{{ commentData.publishedDate | date : 'dd-MM-YY, HH:mm' }}</p>
        <p class="m-0 selectable">#{{ commentIndex }}</p>
    </div>
    <div class="m-0 flex-grow-1 px-2 pt-2 pb-4" [innerHTML]="safeHtml || '***'"></div>
    <div
        class="subcomment-container p-2 d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-lg-end">
        <app-btn-reply [text]="'Rispondi citando'" (emitter)="goToReply()"></app-btn-reply>
        <button *ngIf="canDelete" class="mt-2 mt-sm-0 ms-sm-3 custom-btn del-btn px-4 fw-medium rounded-4"
            (click)="sendDelete()">Elimina
            Commento</button>
    </div>
</div>