<div class="main-container p-3">
    <h4>Chi è Online</h4>
    <div *ngIf="onlineUsers.length && !areAllGuests()">
        <p class="m-0" *ngFor="let u of onlineUsers" class="fw-medium mb-0 me-2 d-inline">
            <span
                [ngClass]="{'text-danger' : u.level == 'BOSS', 'txt-mod': u.level == 'MID', 'txt-orange' : u.level == 'BASE'}">{{
                u.username }}</span>
        </p>
        <p *ngIf="areSomeGuestsOnline()" class="m-0 mt-1">Ci sono anche <span class="txt-orange">{{ guestsOnlineCount()
                }}</span> visitatori anonimi
        </p>
    </div>
    <div *ngIf="areAllGuests()">
        <p class="m-0">Ci sono <span class="txt-orange">{{ onlineUsers.length }}</span> visitatori anonimi al momento..
        </p>
    </div>
</div>