.main-container {
  border: 2px solid var(--near-black);

  .header {
    background-color: var(--near-black);
  }

  .body {
    background-color: var(--bg-lighter);
  }

  i {
    color: var(--orange-hover);
    cursor: pointer;
    font-size: 1.2rem;
  }
}
