<div class="main-container d-flex flex-column h-100">
    <h2 class="special-title mb-4">Informazioni Generali</h2>
    <div class="flex-grow-1 overflow-y-auto scrollb">
        <h4 class="mb-5 mt-2 creator">Cybermodding created by <span class="text-danger">Mar.LizZo</span></h4>
        <a href="https://github.com/MarLizZo/Cybermodding-Capstone" target="_blank"
            class="text-decoration-none fw-medium m-0 link pointer mb-3">Github Repo</a>
        <a href="https://www.linkedin.com/in/marco-cristofori-lizzo/" target="_blank"
            class="text-decoration-none fw-medium m-0 link pointer">My
            Linkedin Profile</a>
    </div>
</div>