@import "mixins";

@include pageable-mixin;
@include truncate;
@include selectable;
@include profile-img(64px);
@include text-mod;
@include text-orange;

.users-container {
  .head {
    background-color: var(--bg-lighter);
    border-bottom: 2px solid var(--near-black);
  }

  .row:not(.pageable-container.row, #users .row) {
    border-bottom: 2px solid var(--near-black);
  }

  .row {
    .col-12:first-of-type:not(.pageable-container .col-12) {
      background-color: var(--bg-lighter);
    }
  }

  i {
    font-size: 1.3rem;
    color: var(--orange);
    cursor: pointer;
  }
}

.border-bottom-bgligth {
  border-bottom: 2px solid var(--bg-lighter);
}

.head-container {
  background-color: var(--bg-lighter);
  border-bottom: 2px solid var(--near-black);

  i {
    color: var(--orange);
    font-size: 1.3rem;
    cursor: pointer;
  }
}
