<div class="h-100 pb-5">
    <app-hero></app-hero>
    <div *ngIf="!isLoadingPage" class="container-fluid mt-4">
        <h2 class="m-0">Contattaci</h2>
        <div class="mt-5">
            <div class="mt-5 bg-container rounded-1 w-100 d-flex flex-column align-items-center pb-4">
                <p class="m-0 p-2 fs-4 bb-nb-2 text-center w-100">Contattaci tramite il form sottostante</p>
                <div class="w-100 d-flex flex-column align-items-center">
                    <div class="mt-4 select-cont">
                        <p #reasonP class="mb-1 text-danger d-none">Seleziona una delle opzioni</p>
                        <select id="reason" [(ngModel)]="reason"
                            class="form-control form-control-sm border-0 shadow-none">
                            <option value="-1">Seleziona Motivo del messaggio</option>
                            <option *ngFor="let s of reasonsArr; let i = index" [value]="s">{{ s }}
                            </option>
                        </select>
                        <div *ngIf="!isUserLogged" class="mt-3">
                            <p #nameP class="mb-1 text-danger d-none">Inserisci nome</p>
                            <input #nameInput type="text"
                                class="w-100 form-control form-control-sm px-2 border-0 shadow-none"
                                placeholder="Il tuo nome e contatto">
                        </div>
                        <div class="mt-3">
                            <p #titleP class="mb-1 text-danger d-none">Inserisci un titolo</p>
                            <input #titleInput type="text"
                                class="w-100 form-control form-control-sm px-2 border-0 shadow-none"
                                placeholder="Titolo del messaggio">
                        </div>
                    </div>
                    <div class="mt-4 editor-cont shadow">
                        <p #messageP class="mb-0 text-danger d-none">Inserisci un messaggio</p>
                        <app-editor-form [type]="'newpm'" (submitPost)="doChecks($event)"></app-editor-form>
                    </div>
                </div>
            </div>
        </div>
        <div #afterMessageError class="mt-4 d-none">
            <p class="mb-1 text-danger text-center fs-5">Si è verificato un errore inatteso, per favore ricarica e
                riprova.</p>
        </div>
        <div #afterMessageDiv class="mt-5 bg-container p-3 pb-4 shadow d-none">
            <p class="mb-1">Grazie per averci contattato!</p>
            <p [ngClass]="{'mb-0' : isUserLogged, 'mb-2' : !isUserLogged}">Un Admin si occuperà del messaggio prima
                possibile.</p>
            <p *ngIf="!isUserLogged" class="mb-0">Assicurati di aver inserito un metodo di contatto, che sia una email o
                contatto Discord. Nel caso ti fossi dimenticato di farlo, scrivi un nuovo messaggio.</p>

            <div class="d-flex justify-content-center mt-4">
                <app-orange-button btnTitle="Torna al Forum" btnTheme="dark"
                    [routerLink]="'/forum'"></app-orange-button>
            </div>
        </div>
    </div>
</div>