<div *ngIf="!isLoadingPage" class="h-100 pb-5">
    <app-hero></app-hero>
    <div class="container-fluid mt-4">
        <h2 class="m-0">Nuovo Messaggio Privato</h2>

        <div class="d-flex flex-column align-items-center mt-5">
            <form #f>
                <div class="input-group w-75 shadow">
                    <span class="input-group-text border-0 shadow-none">@</span>
                    <input #recipientInput type="text"
                        class="form-control border-0 rounded-0 rounded-end-1 px-2 shadow-none" placeholder="Username"
                        name="name" [(ngModel)]="recipient_username">
                </div>
                <div class="w-100">
                    <div *ngIf="foundUsers.length" class="w-50 users-found-container rounded-1">
                        <div *ngFor="let u of foundUsers; let i = index; let first = first; let last = last"
                            class="single-user rounded-1 px-2 py-1 fw-medium" [ngClass]="{'bb' : !last, 'mt-1' : first}"
                            (click)="selectUser(i)">{{ u.username }}
                        </div>
                    </div>
                </div>

                <input #titleInput type="text"
                    class="form-control border-0 rounded-0 rounded-end-1 px-2 shadow-none mt-5" placeholder="Title.."
                    name="title" [(ngModel)]="pm_title">
                <div class="editor-container mt-3 w-100 shadow">
                    <app-editor-form [type]="'newpm'" (submitPost)="sendMessage($event)"></app-editor-form>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-3" *ngIf="isMessageTriggered">
                <app-inline-loader *ngIf="!isMessageSent"></app-inline-loader>
                <div *ngIf="isMessageSent" class="d-flex justify-content-center fs-5 fw-medium">Messaggio inviato!</div>
            </div>
        </div>
    </div>
</div>