@import "mixins";
@include text-orange;
@include text-mod;
@include special-title;
@include truncate;
@include pageable-mixin;

.main-container {
  background-color: var(--bg-lighter);

  .chart-wrapper {
    canvas {
      max-width: 90%;
      height: 100%;

      @media screen and (min-width: 1300px) {
        max-width: 75%;
      }

      @media screen and (min-width: 1500px) {
        max-width: 60%;
      }
    }
  }

  .scrollb {
    @include secondary-scrollbar;
  }

  .btn-input {
    border: none;
    border-left: 1px solid var(--near-black);
    background-color: var(--bg);

    i {
      background-color: var(--bg);
    }
  }

  i,
  .pointer {
    cursor: pointer;
  }

  p.pointer:hover {
    text-decoration: underline;
  }

  input {
    background-color: var(--bg);
    color: var(--txt);
  }

  select {
    background-color: var(--bg);
    color: var(--txt);

    option {
      background-color: var(--bg-lighter);
      color: var(--txt);
    }
  }

  select[name="criteria"] {
    width: max-content;
  }

  input.form-check-input {
    border-color: var(--orange) !important;
  }

  ::placeholder {
    color: var(--txt-muted);
  }

  .single-result {
    background-color: var(--bg);

    .su-head {
      border-bottom: 1px solid var(--near-black);
    }
  }

  .resp-input,
  .resp-div {
    width: 90%;

    @media screen and (min-width: 576px) {
      width: 75%;
    }

    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }
}
