<div class="h-100 pb-4">
    <app-hero></app-hero>
    <div *ngIf="!isLoadingPage && !isWaitingPage && errorsMsgs.length" class="container-fluid mt-4">
        <h4 class="mt-4 mb-0 text-center">Errori nel caricamento della pagina... Per favore riprova!</h4>
    </div>
    <div *ngIf="!isLoadingPage && !isWaitingPage && errorsMsgs.length == 0" class="container-fluid mt-4">
        <div class="d-flex align-items-center">
            <div *ngIf="profileData?.avatar == '' || profileData?.avatar == null"
                class="img-placeholder profile-img me-3"></div>
            <div *ngIf="profileData?.avatar">
                <img [src]="profileData?.avatar" class="profile-img me-3">
            </div>
            <div>
                <h1 class="mb-0 pb-1" [innerText]="profileData ? profileData.username : ''"
                    [class]="profileData ? getClassColor() : ''"></h1>
                <h6 class="m-0">{{ profileData?.description }}</h6>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly head mt-4 mb-3 py-3">
            <button class="btn custom-btn btn-sm px-4 py-2 rounded-1 border-0" [routerLink]="'/profile/pm/newpm'">Nuovo
                Messaggio</button>
            <button #sentBtn class="btn custom-btn btn-sm px-4 py-2 rounded-1 border-0 btn-selected my-2 my-md-0"
                (click)="switchView(0)">Messaggi
                Ricevuti <{{ receivedMessages.length }}></button>
            <button #receivedBtn class="btn custom-btn btn-sm px-4 py-2 rounded-1 border-0"
                (click)="switchView(1)">Messaggi Inviati <{{ sentMessages.length }}></button>
        </div>
        <div *ngIf="isReceivedView" class="msgs-container p-3 pb-4">
            <div *ngIf="receivedMessages.length == 0" class="d-flex justify-content-center">
                Nessun messaggio ricevuto..
            </div>
            <div *ngFor="let msg of receivedMessages; let i = index; let first = first" class="single-msg shadow"
                [ngClass]="{'new-msg' : !msg.viewed, 'mt-4' : !first}">
                <div class="sm-head px-3 pb-1 rounded-1">
                    <div class="info">
                        <div class="d-flex align-items-center">
                            <span *ngIf="msg.viewed" class="txt-orange fs-5 fw-medium">>&nbsp;</span>
                            <span *ngIf="!msg.viewed"><i
                                    class="bi bi-exclamation-circle text-danger"></i>&nbsp;&nbsp;</span>
                            <p class="title m-0 fw-medium fs-5 trunc" (click)="setSingleMsgView(msg)">{{ msg.title }}
                            </p>
                        </div>
                        <p class="m-0">Da:&nbsp;<span class="fw-medium">{{ msg.sender_user!.username
                                }}</span>&nbsp;il:&nbsp;{{ msg.date | date : 'dd-MM-YY' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isSentView" class="msgs-container p-3 pb-4">
            <div *ngIf="sentMessages.length == 0" class="d-flex justify-content-center">Nessun messaggio inviato..</div>
            <div *ngFor="let msg of sentMessages; let i = index; let first = first" class="single-msg shadow"
                [ngClass]="{'mt-4' : !first}">
                <div class="sm-head px-3 py-0 pb-1 rounded-1">
                    <div class="info">
                        <div class="d-flex align-items-center">
                            <span class="txt-orange fs-5 fw-medium">>&nbsp;</span>
                            <p class="title m-0 fw-medium fs-5 trunc" (click)="setSingleMsgView(msg)">{{ msg.title }}
                            </p>
                        </div>
                        <p class="m-0">Inviato a:&nbsp;<span class="fw-medium">{{ msg.recipient_user!.username
                                }}</span>&nbsp;il:&nbsp;{{ msg.date | date : 'dd-MM-YY' }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isSingleMsgView" class="sm-container p-3 pb-4">
            <div class="d-flex align-items-center mb-2">
                <i class="bi bi-arrow-left-circle fs-2 me-3" (click)="resetSingleMsgView()"></i>
                <span class="fs-5">Indietro</span>
            </div>
            <div *ngIf="!isReplyToMsgView">
                <div class="mb-2 fs-4 fw-medium">{{ singleMsg?.title }}</div>
                <div class="mb-3 pb-2 date-info">Messaggio Inviato il: {{ singleMsg?.date | date : 'dd-MM-YY' }}
                    alle
                    ore
                    {{ singleMsg?.date | date :
                    'HH:mm' }}</div>
                <div class="sm-content pb-4" [innerHTML]="singleMsg?.content"></div>
                <div *ngIf="singleMsg?.sender_user!.id != profileData!.id" class="d-flex justify-content-center mt-4">
                    <app-orange-button [btnTheme]="'orange'" [btnTitle]="'Rispondi'"
                        (click)="isReplyToMsgView = true"></app-orange-button>
                </div>
            </div>
            <div *ngIf="isReplyToMsgView" class="mt-3">
                <p class="fs-5 mb-1">Rispondi a: <span class="fw-medium">{{ singleMsg?.sender_user?.username }}</span>
                </p>
                <p class="fs-5">Titolo originale: <span>{{ singleMsg?.title }}</span></p>
                <app-editor-form [type]="'pm'" [quoted]="getQuoteMsg()"
                    (submitPost)="doReply($event)"></app-editor-form>
                <p *ngIf="msgSentCorrectly" class="mt-3 mb-0 text-center fs-4 fw-medium">Messaggio inviato
                    correttamente!</p>
            </div>
        </div>
    </div>
</div>