@import "mixins";

@include text-orange;
@include text-mod;
@include img-placeholder;
@include profile-img(56px);
@include truncate;

.head {
  background-color: var(--bg-lighter);
  border-bottom: 2px solid var(--near-black);

  .custom-btn {
    background-color: var(--bg);
    color: var(--txt);
    transition: 0.2s;

    &:hover,
    &:active {
      background-color: var(--near-black);
    }

    @media screen and (max-width: 576px) {
      width: 90%;
    }

    @media screen and (min-width: 576px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      width: auto;
    }
  }

  .btn-selected {
    color: var(--orange-hover);
    background-color: var(--near-black);
  }
}

.msgs-container {
  .single-msg {
    .sm-head {
      background-color: var(--bg-lighter);
    }

    .sm-container {
      border: 1px solid var(--near-black);
      .date-info {
        border-bottom: 1px solid var(--orange-hover);
      }

      .sm-content {
        border-bottom: 2px solid var(--near-black);
      }
    }
  }

  i.bi-arrow-bar-down {
    color: var(--orange);
    font-size: 1.2rem;
    cursor: pointer;
  }
}
