<div class="main-container d-flex flex-column h-100">
    <h2 class="special-title mb-4">Impostazioni Blocchi</h2>
    <div class="flex-grow-1 overflow-y-auto scrollb">
        <div *ngIf="isCreateView" class="w-100 mt-3 d-flex justify-content-center">
            <form *ngIf="!isError" #fNewBlock="ngForm" class="w-100 pb-2 d-flex flex-column align-items-center">
                <div class="resp-div mt-3">
                    <div class="d-flex justify-content-between mb-1">
                        <label for="btitle">Titolo</label>
                        <p id="err-ti" class="m-0 text-danger d-none"></p>
                    </div>
                    <input id="btitle" type="text" ngModel [(ngModel)]="blockTitle" name="title"
                        class="form-control form-control-sm px-1 border-0 shadow-none" maxlength="60">
                </div>

                <div class="resp-div mt-3">
                    <div class="d-flex justify-content-between mb-1">
                        <label for="border">Ordine visualizzazione</label>
                        <p id="err-order" class="m-0 text-danger d-none"></p>
                    </div>
                    <input id="border" type="number" ngModel name="order"
                        class="form-control form-control-sm px-1 border-0 shadow-none">
                </div>

                <div class="resp-div mt-3">
                    <div class="d-flex justify-content-between mb-1">
                        <label for="btype">Tipo</label>
                        <p id="err-order" class="m-0 text-danger d-none"></p>
                    </div>
                    <select name="type" id="btype" [(ngModel)]="blockType"
                        class="form-control form-control-sm border-0 shadow-none">
                        <option value="BLOCK_ALL">Home + Forum</option>
                        <option value="BLOCK_HOME">Solo Home</option>
                        <option value="BLOCK_FORUM">Solo Forum</option>
                    </select>
                </div>

                <div class="resp-div mt-3 d-flex flex-column flex-md-row align-items-center justify-content-md-center">
                    <div class="form-check form-check-inline mb-2 mb-md-0">
                        <input #activeRadioOne class="form-check-input shadow-none" type="radio" name="active"
                            id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Attivo e visibile
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input #activeRadioTwo class="form-check-input shadow-none" type="radio" name="active"
                            id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Disattivo e non visibile
                        </label>
                    </div>
                </div>

                <div class="form-floating resp-div mt-3 mb-4 d-flex flex-column align-items-center">
                    <div class="d-flex w-100 justify-content-between mb-1">
                        <label for="bcontent">Contenuto</label>
                        <p id="err-content" class="m-0 text-danger d-none"></p>
                    </div>
                    <textarea id="bcontent" class="form-control shadow-none border-0"
                        placeholder="HTML Content of the block..." [(ngModel)]="blockContent" name="content"></textarea>
                </div>

                <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-evenly w-100">
                    <app-orange-button [btnTheme]="'dark'" [btnTitle]="'Anteprima Blocco'" (click)="openModal(false)"
                        class="mb-3 mb-md-0"></app-orange-button>
                    <app-orange-button [btnTheme]="'orange'" [btnTitle]="'Crea Nuovo Blocco'"
                        (click)="doCreateNewBlock(fNewBlock)"></app-orange-button>
                </div>

                <div *ngIf="isOpBlock" class="mt-3">
                    <app-inline-loader [bg]="'lighter'"></app-inline-loader>
                </div>

                <p #blockParagMod class="mt-3 mb-0 fs-5 fw-medium opacity-0">Blocco creato
                    con
                    successo!</p>
            </form>
        </div>

        <div *ngIf="isAllView" class="w-100 mt-3 d-flex justify-content-center">
            <p *ngIf="isError" class="mt-4 fw-medium fs-5 text-center">{{ errorMsg }}</p>

            <div *ngIf="isLoadingBlocks" class="d-flex justify-content-center">
                <app-inline-loader [bg]="'lighter'"></app-inline-loader>
            </div>

            <div *ngIf="!isError && !isLoadingBlocks && !selectedBlock" class="w-100">
                <div *ngIf="blocksArr.length" class="w-100">
                    <div *ngFor="let b of blocksArr; let i = index; let first = first" class="single-result"
                        [ngClass]="{'mt-3' : !first}">
                        <div class="su-head d-flex justify-content-between align-items-center py-2 px-3 rounded-1">
                            <div class="flex-grow-1">
                                <p class="m-0 fw-medium fs-5 trunc b-title" (click)="selectedBlock = b">{{ b.title }}
                                </p>
                                <span [innerText]="b.e_block_type"></span>
                            </div>
                            <p class="m-0" [innerText]="b.active ? 'Attivo' : 'Disattivo'"
                                [ngClass]="{'text-danger' : !b.active, 'txt-mod' : b.active}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedBlock && !isError" class="w-100">
                <i class="bi bi-arrow-left-circle fs-1 txt-orange mb-3" (click)="resetSingleView()"></i>
                <form #fUpdateBlock="ngForm" class="w-100 mx-auto pb-2 d-flex flex-column align-items-center">
                    <div class="mt-3 resp-div">
                        <div class="d-flex justify-content-between mb-1">
                            <label for="btitle">Titolo</label>
                            <p id="err-ti" class="m-0 text-danger d-none"></p>
                        </div>
                        <input id="btitle" type="text" ngModel [(ngModel)]="selectedBlock.title" name="title"
                            class="form-control form-control-sm px-1 border-0 shadow-none" maxlength="60">
                    </div>

                    <div class="mt-3 resp-div">
                        <div class="d-flex justify-content-between mb-1">
                            <label for="border">Ordine visualizzazione</label>
                            <p id="err-order" class="m-0 text-danger d-none"></p>
                        </div>
                        <input id="border" type="number" ngModel [(ngModel)]="selectedBlock.order_number" name="order"
                            class="form-control form-control-sm px-1 border-0 shadow-none">
                    </div>

                    <div class="mt-3 resp-div">
                        <div class="d-flex justify-content-between mb-1">
                            <label for="btype">Tipo</label>
                            <p id="err-order" class="m-0 text-danger d-none"></p>
                        </div>
                        <select name="type" id="btype" [(ngModel)]="selectedBlock.e_block_type"
                            class="form-control form-control-sm border-0 shadow-none">
                            <option value="BLOCK_ALL">Home + Forum</option>
                            <option value="BLOCK_HOME">Solo Home</option>
                            <option value="BLOCK_FORUM">Solo Forum</option>
                        </select>
                    </div>

                    <div
                        class="mt-3 resp-div d-flex flex-column flex-md-row align-items-center justify-content-md-center">
                        <div class="form-check form-check-inline mb-2 mb-md-0">
                            <input #activeRadioOne class="form-check-input shadow-none" type="radio" name="active"
                                (change)="selectedBlock.active = !selectedBlock.active" id="flexRadioDefault1"
                                [checked]="selectedBlock.active">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Attivo e visibile
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input #activeRadioTwo class="form-check-input shadow-none" type="radio" name="active"
                                (change)="selectedBlock.active= !selectedBlock.active" id="flexRadioDefault2"
                                [checked]="!selectedBlock.active">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Disattivo e non visibile
                            </label>
                        </div>
                    </div>

                    <div class="form-floating resp-div mt-3 mb-4 d-flex flex-column align-items-center">
                        <div class="d-flex w-100 justify-content-between mb-1">
                            <label for="bcontent">Contenuto</label>
                            <p id="err-content" class="m-0 text-danger d-none"></p>
                        </div>
                        <textarea id="bcontent" class="form-control shadow-none border-0"
                            placeholder="Content of the block.." [(ngModel)]="selectedBlock.content"
                            name="content"></textarea>
                    </div>

                    <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-evenly w-100">
                        <app-orange-button [btnTheme]="'dark'" [btnTitle]="'Anteprima Blocco'"
                            (click)="openModal(true, 0, fUpdateBlock)" class="mb-3 mb-md-0"></app-orange-button>
                        <app-orange-button [btnTheme]="'orange'" [btnTitle]="'Aggiorna Blocco'"
                            (click)="doUpdateBlock(fUpdateBlock)"></app-orange-button>
                    </div>
                    <div *ngIf="isOpBlock" class="mt-3">
                        <app-inline-loader [bg]="'lighter'"></app-inline-loader>
                    </div>
                    <p id="blockUParagMod" #blockUParagMod class="mt-3 mb-0 fs-5 fw-medium opacity-0">Blocco aggiornato
                        con
                        successo!</p>
                </form>
            </div>
        </div>
    </div>
</div>