<div class="col-12 d-flex px-3 py-2" [ngClass]="{'border-bgligth' : giveBorder}">
    <div class="col-7 col-md-4 d-flex align-items-center">
        <div *ngIf="user.avatar">
            <img [src]="user.avatar" class="profile-img me-2 me-md-3">
        </div>
        <div *ngIf="!user.avatar" class="profile-img me-2 me-md-3"></div>
        <div>
            <h5 *ngIf="user.level == 'BOSS' || user.level == 'MID'" class="m-0 selectable"
                [ngClass]="{'text-danger' : user.level == 'BOSS', 'txt-mod' : user.level == 'MID' }"
                (click)="goToProfile()">
                {{ user.username }}</h5>
            <h6 *ngIf="user.level == 'BASE'" class="m-0 txt-orange selectable" (click)="goToProfile()">{{ user.username
                }}</h6>
            <p class="m-0" [innerText]="user.level == 'BOSS' ? 'Admin' : user.level == 'MID' ? 'Moderator' : 'User'">
            </p>
        </div>
    </div>
    <div class="d-none d-md-flex col-4 align-items-center">
        <p class="m-0">{{ user.registrationDate | date : 'dd-MM-Y' }}</p>
    </div>
    <div class="col-5 col-md-4 d-flex flex-column justify-content-center">
        <p class="m-0 mb-1">Numero di post: {{ user.posts_count }}</p>
        <p class="m-0">Numero di commenti: {{ user.comments_count }}</p>
    </div>
</div>