<div [ngClass]="{ 'mb-4' : !isLast }">
    <div class="main-container px-3 py-2 d-flex justify-content-between align-items-center rounded-1">
        <div>
            <h5 class="m-0 selectable" (click)="goToPage()">
                {{ sectionName }}
            </h5>
            <p class="m-0">{{ sectionDescr }}</p>
        </div>
        <i class="bi" (click)="setConfig()"
            [ngClass]="{'bi-arrow-bar-up' : !isSectionCollapsed, 'bi-arrow-bar-down' : isSectionCollapsed}"></i>
    </div>
    <div #collapseSection="ngbCollapse" [(ngbCollapse)]="isSectionCollapsed" *ngFor="let ss of subsArr">
        <app-subsection-body [subSection]="ss"></app-subsection-body>
    </div>
</div>