.main-container {
  background-color: var(--bg-lighter);

  .chart-wrapper {
    i {
      cursor: pointer;
      &.opacity-0 {
        pointer-events: none;
      }
    }
    canvas {
      max-width: 90%;
      height: 100%;

      @media screen and (min-width: 1300px) {
        max-width: 75%;
      }

      @media screen and (min-width: 1500px) {
        max-width: 60%;
      }
    }
  }
}
