<div class="top-footer d-flex justify-content-around align-items-center py-2">
    <p class="m-0">© Cybermodding, {{ year }}</p>
    <p class="m-0">Made with <i class="bi bi-heart-fill"></i> by <span class="fw-medium">Mar.LizZo</span></p>
    <div class="icons-c d-flex justify-content-center align-content-center">
        <a href="https://www.linkedin.com/in/marco-cristofori-lizzo/" target="_blank" class="nav-link"><i
                class="bi bi-linkedin me-3"></i></a>
        <a href="https://github.com/MarLizZo" target="_blank" class="nav-link"><i class="bi bi-github"></i></a>
    </div>
</div>